RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]



#<IfModule mod_rewrite.c>
#Options +FollowSymLinks
#Options +Indexes
#RewriteEngine On

#RewriteCond %{HTTP_HOST} !localhost/radiokhushi$ [NC]
#RewriteCond %{REQUEST_URI} ^/$

#RewriteRule ^news/view$ news/view/$1/$2 [L]
#</IfModule>